
<%- include("partials/header.ejs") %>
<br>

<h1 class="me">About Me</h1>
<img class="about-me mx-auto d-block" src="images/cs.jpg" alt="my profile">
<p class="p-me">
Hi guys, Anas here . I am a Btech first year(even semester) Computer Science student at IIIT 
Dharwad, karnataka. This is a Blog web application built using <b>Node JS</b>, <b>Express JS</b>, 
<b>EJS</b>, <b>Bootstrap</b>, <b>CSS</b> and acquiring information from lots of sources on 
internet(literally). I am currently working on gaining many skills for getting market ready 
such as <b>WebDev</b>, <b>Python</b>, <b>AI/ML</b>, <b>DSA</b> etc. I have done my schooling
(10th and 12th) from MTMHSS(Mother Teresa Mission Higher Secondary School), Kanpur(Uttar Pradesh).
I hope to develop many new relevant and skills that will make me a better developer.</p>
<p class="p-me">
Lastly, This application is built entirely by me and my knowledge of colours, layouts etc is
is very bad and also I have not yet added a database in this that's why there are several 
modifications which can be made in this , Feel free to point out my mistakes I will surely
try to correct it.
</p>
<hr>
   <p class="heart"> Made with ❤️ </p>
<hr>

  <%- include("partials/footer.ejs") %>