<%- include("partials/header.ejs") %>
<br>
<br>
<h1 class="contact-me">Contact Me</h1>
<form>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="email" class="feedback-input" placeholder="Email" />
  <input name="contact" type="number" class="feedback-input" placeholder="Contact no" />
  <textarea name="text" class="feedback-input" placeholder="Type your queries here..."></textarea>
  <input type="submit" value="SUBMIT" />
</form>
<br>
<br>
<hr>
<p class="heart"> Made with ❤️ </p>
<hr>
<br>
<%- include("partials/footer.ejs") %>
<hr>
