
<%- include("partials/header.ejs") %>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Teko&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    
<div class="container mt-5">
    <div class="image">
    <h1 class="top-title">Welcome to WordSmith Wonderland ! </h1>
  
    
    <p class="below-title new-sub">Explore the world of words and creativity with our blogs, quotes, and more. </p>
    
    <div class="abraham-quote-section">
        <p class="abraham-quote">
            "In the end, it's not the years in your life that count.
            <br>
             It's the life in your years."
             <br>
                                         —Abraham Lincoln
        </p>
    </div>

</div>

    <br>
<br>
<br>
    <div class="row mt-4">
        <!-- Featured Blogs -->
        <div class="col-md-6">
            <h2><b>Featured Blogs</b></h2>

            <!-- First Featured Blog -->
            <div class="card mb-4">
               <img src="/images/1678401288719.png" alt="AIOps" height="300px">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://www.forrester.com/blogs/tap-into-the-potential-of-synthetic-data-for-aiops/">
                            Tap Into The Potential Of Synthetic Data For AIOps
                        </a>
                    </h5>
                    <p class="card-text">
                        Learn how leveraging synthetic data can help with the critical time to realize AIOps value, such as autoremediation capabilities and enhanced decision-making.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="https://www.forrester.com/blogs/author/carlos_casanova/" title="Carlos Casanova">
                                Carlos Casanova
                            </a>
                            | January 19, 2024
                        </small>
                    </p>
                    <a href="https://www.forrester.com/blogs/tap-into-the-potential-of-synthetic-data-for-aiops/" class="btn btn-primary">Read More</a>
                </div>
            </div>

        </div>

        <!-- Quotes Section -->
        <div class="col-md-6">
            <h2 class="quote-section"><b>Inspirational Quotes</b></h2>
            <ul>
                <li class="list">"Successful people are not gifted; they just work hard, then succeed on purpose." —G.K. Nielson</li>
                <br>
                <li class="list">"Character cannot be developed in ease and quiet. Only through experience of trial and suffering can the soul be strengthened, vision cleared, ambition inspired and success achieved." —Helen Keller</li>
                <br>
                <li class="list">"The most certain way to succeed is always to try just one more time." —Thomas Edison</li>
                <br>
                <li class="list">"The most certain way to succeed is always to try just one more time." —Thomas Edison</li>
                <br>
                <li class="list">"Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do." —Pelé</li>
                <br>
                <li class="list">"The way to get started is to quit talking and begin doing." —Walt Disney</li>
                <br>
                <li class="list">"You're braver than you believe, stronger than you seem, and smarter than you think." -A.A Milne</li>
              
               <br>
             
            
            </ul>
        </div>
    </div>

    <!-- About Section -->
    <div class="mt-5">
        <h2 class="font-title">About WordSmith Wonderland</h2>
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item">
                <img src="/images/bridge.jpg" alt="Slide 1">
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1>Visit Quote Gallery</h1>
                    <p class="opacity-75">Immerse yourself in a collection of timeless wisdom. Our Quote Gallery is a sanctuary of inspiration, featuring carefully curated quotes that resonate with the human experience. Explore, reflect, and discover the power of words to uplift and enlighten.</p>
                    <p><a class="btn btn-lg btn-primary" href="/quotes">Visit page</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item active">
                <img src="/images/tree.jpg" alt="Slide 2">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Check our Blogs Section.</h1>
                    <p>Step into the Blogosphere of WordSmith Wonderland. Here, we weave narratives, share insights, and explore the wonders of diverse topics. Our blogs are more than words; they are gateways to new perspectives, learning, and a deeper understanding of the world around us.</p>
                    <p><a class="btn btn-lg btn-primary" href="/blogs">Visit page</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/palace.jpg" alt="Slide 3">
                <div class="container">
                  <div class="carousel-caption text-end">
                    <h1>About Section</h1>
                    <p>Check out about me and this project, what all technologies I used in this and everything. </p>
                    <p><a class="btn btn-lg btn-primary" href="/about">Visit page</a></p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <br>
        <p style="font-size: large;">Discover a collection of captivating blogs and thought-provoking quotes that will inspire and engage your mind. Our writers are passionate about the power of words and creativity.</p>
        
    </div>

    <!-- Start Exploring-->
    <div class="mt-5">
        <h2 style="text-align: center; font-weight: 600; font-size: 30px;">Start Exploring WordSmith Wonderland</h2>
        <div class="footer-image"></div>
        <br>
        <p style="font-size: larger;">Ready to dive into the wonderland? Browse our blogs, discover inspiring quotes, and unleash your creativity!</p>
        <a href="/blogs" class="btn btn-primary">Explore Blogs</a>
    </div>
</div>

<br>
<hr>

<p class="heart"> Made with ❤️ </p>
<hr>
<br>
</body>
</html>

<%- include("partials/footer.ejs") %>
